.header{
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}

.header__navbar-item{
    display: inline-block;
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item--show-notify:hover .header__notify{
    display: block;
}

.header__navbar-item,
.header__navbar-item-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item:nth-child(2):hover{
    color: var(--white-color);
    cursor: unset;
}

.header__navbar-item-link--bold{
    font-weight: 500;
}

/*Dấu gạch phân cách*/
.header__navbar-item--saparate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 16px;
    background-color: #fb9086;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-icon-link{
    text-decoration: none;
    color: var(--white-color);
}

.header__navbar-item--show-qr:hover .header__qr{
    display: block;
}

/* Header QR code */
.header__qr{
    display: none;
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 2px;
    /* thực hiện animation được định nghĩa trong base */
    animation: fadeIn ease-in 0.3s; 
    cursor: default;
}
/* Giải quyết khi hover không chạm tới div thì div bị ẩn */
.header__qr::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    top: -16px;
}

.header__qr-img{
    width: 100%;
}

.header__qr-apps{
    display: flex;
    justify-content: space-between;
}

.header__qr-download-img{
    height: 16px;
}

.header__qr-link:nth-child(1){
    margin-left: 10px;
}

.header__qr-link:nth-child(2){
    margin-right: 11px;
}

/* Header Notification */
/* Viết nhanh class bên html bôi đen từ khóa chính ví dụ ở đây là
    header-notify, sau đó dùng tổ hợp phím Ctrl + D để bôi đen hết 
    các class có từ khóa đầu là header-notify, sau đó dùng tổ hợp
    Shift + Alt + mũi tên bên phải rồi Ctrl + C copy
*/
.header__notify{
    position: absolute;
    top: 118%;
    width: 404px;
    background-color: var(--white-color);
    right: 0;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    cursor: default;
    
    /* Thuộc tính chỉnh tâm của scale */
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    -webkit-animation: headerNotifyGrowth ease-in 0.2s;
    -o-animation: headerNotifyGrowth ease-in 0.2s;
    -moz-animation: headerNotifyGrowth ease-in 0.2s;
    /* Giúp trình duyệt tối ưu chuyển động */
    /* Ở đây animation dùng opacity và transform nên */
    will-change: opacity transform;
    display: none;
}


@keyframes headerNotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);    
    }
}

@-webkit-keyframes headerNotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);    
    }
}


/* Tạo mũi tên */
.header__notify::before{
    position: absolute;
    top: -29px;
    right: -1px;
    content: "";
    border-width: 20px 25px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

/* Dùng after làm cầu để header__modify không bị ẩn đi khi người dùng di chuột chéo */
.header__notify::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 10px;
    top: -10px;
}

.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3{
    color: #999;
    margin: 0;
    font-weight: 400;
    font-size: 1.4rem;

    /* line-height bằng chiều cao thẻ chứa nó -> nó sẽ canh giữa theo chiều dọc */
    line-height: 40px;
    margin: 0 0 0 12px;
}

.header__notify-list{
    padding-left: 0;
}

.header__notify-item:hover{
    background-color: #f7f7f7;
}

.header__notify-item--viewed{
    background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-link{
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;
    align-items: flex-start;
}

.header__notify-img{
    width: 48px;

    /* Để ảnh không bị méo */
    object-fit: contain;
}

.header__notify-info{
    margin-left: 12px;
}

.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
    line-height: 1.6rem;
}

.header__notify-description{
    display: block;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #999;
}

.header__notify-footer{
    text-align: center;
    background-color: #f9f9f9;
}

.header__notify-footer:hover{
    background-color: #f7f7f7;
}

.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding: 8px 16px;
    font-weight: 400;
}

/* Authen form */
.auth-form{
    width: 500px;
}


.auth-form__header{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.auth-form__heading{
    margin: 0;
    margin-left: 30px;
    font-size: 2.4rem;
    font-weight: 300;
}
.auth-form__switch-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-right: 30px;
}

.auth-form__form{
    width: 100%;
}

.auth-form__group{
    margin-left: 30px;
    margin-right: 30px;
}

.auth-form__input{
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    outline: none;
    border: 1px solid #ddd;
    font-size: 1.2rem;
}

.auth-form__input:focus{
    border-color: #111;
}

.auth-form__aside{
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.auth-form__policy-text{
    font-size: 1.4rem;
}

.auth-form__policy-link{
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 50px;
}

.auth-form__wrap-back-btn{
    margin-right: 10px;
}

.btn--hover:hover{
    background-color: #eee;
}

.btn{
    border: 0;
    background-color: var(--white-color);
    font-size: 1.6rem;
    cursor: pointer;
    outline: none;
    font-weight: 300;
    padding: 8px 40px;
}

.btn--primary{
    border: 0;
    background-color: var(--primary-color);
    font-size: 1.6rem;
    cursor: pointer;
    outline: none;
    padding: 8px 30px;
    color: var(--white-color);
    font-weight: 300;
}

.auth-form__socials{
    display: flex;
    margin: 30px;
    justify-content: space-between;
}

.btn--with-icon{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--white-color);
    background-color: #1877f2;
    border-radius: 4px;
    text-align: center;
    position: relative;
}

.btn-icon{
    position: absolute;
    left: 10px;
}

.auth-form__question{
    font-size: 1.6rem;
    color: #bbb;
}

.auth-form__login-btn{
    margin-top: 20px;
    width: 100%;
    font-size: 1.4rem;
    padding: 10px 0;
}

.auth-form__explore{
    margin: 25px 30px 25px 30px;
    display: flex;
    justify-content: space-between;
}

.auth-form__link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #0055AA;
}

.auth-form__or-line{
    display: flex;
    margin: 0 30px;
    justify-content: space-between;
    align-items: center;
}

.auth-form__or-line span{
    font-size: 1.4rem;
    color: #bbb;
}

.auth-form__line{
    width: 184px;
    height: 2px;
    background-color: #bbb;
}


